.body {
    display: flex;
    justify-content:$justify-contenido;
    align-items: $alineacion-items;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-family:$fuente-general; }
.imagenfondo {

    background-image: url(../assets/img/portada\ sobre\ mi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .borroso {
        backdrop-filter: blur(3px);
    }
}
h1 {
    margin-top: 15px;
}
.textocentrado {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-align: center;
}
.carousel-item {
    height: 80vh;

}
.carousel-item img {
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.carousel-inner {
height: 60vh; 
.carousel-inner img {
    width: auto;
        height: 80vh;
        object-fit: cover;
        text-align: center;
}
    }

.colordefondo{
background-color: #444444bb;
}

body.pagina-404 {
    background-image: url(../assets/img/error1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}  
body.pagina-404 p {
    position: relative;
    z-index: 1;
    
}
