/* vista para tablet y celular del index html*/
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .header {
    text-align: $justify-texto;
  }

  .nav {
    display: none;
  }
  .collapse.navbar-collapse {
    z-index: 9999;
  }
  .navbar {
    background-color: #2a2b30;
    padding: 10px;
  }
  .navbar-nav {
    font-size: 0.8rem;

    li {
      margin: 0;
      text-align: center;
      width: 100%;

      .nav-link {
        display: block;
        padding: 0.5rem 0;
        color: $color-secundario;
        text-decoration: none;
      }
    }
  }

  .nav-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: $color-terciario;
    color: $color-secundario;
    cursor: pointer;
  }

  .nav-toggle.active {
    background-color: $color-secundario;
    color: $color-terciario;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: $color-terciario;
    color: $color-secundario;

    .nav-item {
      display: block;
      margin-bottom: 10px;
      text-align: $justify-texto;

      .nav-link {
        padding: 0.5rem 0;
      }
    }
  }

  .nav-list.active {
    display: block;
  }

  .main {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2;
  }

  .sidebar {
    display: none;
  }

  .footer {
    text-align: $justify-texto;
  }
  

  @media screen and (max-width: 375px) {
    .nav-item {
      display: block;
      margin-bottom: 10px;
      text-align: center;

      .nav-link {
        display: block;
        padding: 0.5rem 0;
        color: $color-secundario;
        text-decoration: none;
      }
    }
  }
}


/* Estilos para tablet y celular de pagina contacto */
@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    display: block;
    text-align:$justify-texto;
    
    .nav-link {
      padding: 5px;
    }
    
    .navbar-toggler {
      margin: 5px;
    }
    
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .textocentrado {
      font-size: 1.5rem;
    }
    
    h3 {
      font-size: 1.5rem;
      margin-top: 30px;
    }
    
    .form-label {
      font-size: 1.2rem;
    }
    
    .form-control {
      font-size: 1.2rem;
    }
    
    .mapa {
      iframe {
        height: 300px;
      }
    }
  }
}
