.fondo {
  background:
    map-get($propiedades-fondo, linear-gradient),
    map-get($propiedades-fondo, imagen);
  background-size: map-get($propiedades-fondo, size);
  background-attachment: map-get($propiedades-fondo, attachment);
  background-position: map-get($propiedades-fondo, position);
  background-repeat: map-get($propiedades-fondo, repeat);
}

  .background-color-page {
    background-color: $color-primario;
  }
  .card {
    border: map-get($propiedades-card, border);
    background-color: map-get($propiedades-card, background-color);
    display: map-get($propiedades-card, display);
    justify-content: map-get($propiedades-card, justify-content);
    align-items: map-get($propiedades-card, align-items);
  }
.textocentrado {

  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align:$justify-texto;
}

.alinear {
display: inline-block;
}

.card-body {
  background-color: #444444e8;
  text-align: center;
  font-size: medium;
  width: calc(100% - 4 * var(--nav-padding));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.title {
  font-style: oblique;
  color: #9fbba8;
  font-size: 20px;
  padding: 20px;

}

.card-subtitle {
  font-size: medium;
  color: #dce7be;}
  .card-text {
    color: #dee4e0;
  }
  
  .card-title {
    color:$color-secundario;
    font-size: small;
    font-style: oblique;
    text-align: $justify-texto;
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fototarjeta{
    max-width: 100%;
  max-height: 50vh;
}

  .row {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .imagen {
    position: relative;
    display: inline-block;
  }