$color-primario: #444;
$color-secundario: rgb(255, 255, 255);
$color-terciario: #333;
$color-navegacion: #42443bc7;
$fuente-general: 'Libre Baskerville', sans-serif;
$justify-texto: center;
$justify-contenido: center; 
$alineacion-items: center;