@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
* {
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
}

.fondo {
  background: url(../assets/img/portadapaginamarcos.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.background-color-page {
  background-color: #444;
}

.card {
  border: 2px solid #444;
  background-color: #565a58;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.textocentrado {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: center;
}

.alinear {
  display: inline-block;
}

.card-body {
  background-color: rgba(68, 68, 68, 0.9098039216);
  text-align: center;
  justify-content: space-between;
  font-size: medium;
}

.title {
  font-style: oblique;
  color: #9fbba8;
}

.card-subtitle {
  font-size: medium;
  color: #dce7be;
}

.card-text {
  color: #dee4e0;
}

.card-title {
  color: rgb(255, 255, 255);
  font-size: small;
  font-style: oblique;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.imagen {
  position: relative;
  display: inline-block;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
}

.imagenfondo {
  background-image: url(../assets/img/portada\ sobre\ mi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.imagenfondo .borroso {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.carousel-item {
  height: 80vh;
}

.carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.carousel-inner {
  height: 60vh;
}
.carousel-inner .carousel-inner img {
  width: auto;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2b30;
  height: 50px;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.colorNav {
  background-color: rgba(66, 68, 59, 0.7803921569);
}

.navbar {
  padding: 1rem 1rem;
}
.navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar .navbar-nav .burger {
  display: none;
  cursor: pointer;
  z-index: 999;
}
.navbar .navbar-nav .li {
  list-style: none;
}
.navbar .navbar-nav .li .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-container iframe {
  max-width: 100%;
  max-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.mapa {
  position: relative;
  width: 100%;
  height: 400px;
}

.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.piePagina {
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}
.piePagina .fa-instagram, .piePagina .fa-whatsapp, .piePagina .fa-facebook {
  font-size: 2em;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: move-icons 3s linear infinite;
}
.social-icons .icon {
  margin: 0 20px;
  opacity: 0;
  transform: translateY(50px);
  animation: move-up 0.5s ease-in-out forwards;
}
.social-icons .icon:nth-child(1) {
  animation-delay: 0s;
}
.social-icons .icon:nth-child(2) {
  animation-delay: 0.5s;
}
.social-icons .icon:nth-child(3) {
  animation-delay: 1s;
}
@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-icons {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
/* vista para tablet y celular del index html*/
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .header {
    text-align: center;
  }
  .nav {
    display: none;
  }
  .navbar-nav {
    font-size: 0.8rem;
  }
  .navbar-nav li {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .navbar-nav li .nav-link {
    display: block;
    padding: 0.5rem 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .nav-toggle.active {
    background-color: rgb(255, 255, 255);
    color: #333;
  }
  .nav-list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: rgb(255, 255, 255);
  }
  .nav-list .nav-item {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .nav-list .nav-item .nav-link {
    padding: 0.5rem 0;
  }
  .nav-list.active {
    display: block;
  }
  .main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
  .sidebar {
    display: none;
  }
  .footer {
    text-align: center;
  }
}
@media screen and (max-width: 576px) and (max-width: 375px) {
  .nav-item {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .nav-item .nav-link {
    display: block;
    padding: 0.5rem 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}
/* Estilos para tablet y celular de pagina contacto */
@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .navbar-nav .nav-link {
    padding: 5px;
  }
  .navbar-nav .navbar-toggler {
    margin: 5px;
  }
  .navbar-nav .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nav .textocentrado {
    font-size: 1.5rem;
  }
  .navbar-nav h3 {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .navbar-nav .form-label {
    font-size: 1.2rem;
  }
  .navbar-nav .form-control {
    font-size: 1.2rem;
  }
  .navbar-nav .mapa iframe {
    height: 300px;
  }
}/*# sourceMappingURL=estilos.css.map */